<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>My Books</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1">
                
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">        
    </head>
    <body>        

        <div id="app" class="container">
            <div class="row">
                <div class="page-header">
                  <h1>My Books <small>Criado para estudo do Vue.js</small></h1>
                </div>
                <div class="well">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Pesquisar" v-model="mySearch">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">  
                    <div class="panel-heading">Books</div>
                        <table class="table">
                            <thead>
                                <th>
                                    <i class="fa fa-fw fa-sort" v-bind:class="{ 
                                    'fa-sort-amount-asc': orderCol==='id' && orderInverse === 1, 
                                    'fa-sort-amount-desc': orderCol==='id' && orderInverse === -1,  
                                    }"></i>
                                    <a href="#" v-on:click="filterOrderBy($event,'id')">Id</a>
                                </th>
                                <th>
                                    <i class="fa fa-fw fa-sort" v-bind:class="{ 
                                    'fa-sort-amount-asc': orderCol==='titulo' && orderInverse === 1, 
                                    'fa-sort-amount-desc': orderCol==='titulo' && orderInverse === -1,  
                                    }"></i>
                                    <a href="#" v-on:click="filterOrderBy($event,'titulo')">Título</a>
                                </th>
                                <th>
                                    <i class="fa fa-fw fa-sort" v-bind:class="{ 
                                    'fa-sort-amount-asc': orderCol==='valor' && orderInverse === 1, 
                                    'fa-sort-amount-desc': orderCol==='valor' && orderInverse === -1,  
                                    }"></i>
                                    <a href="#" v-on:click="filterOrderBy($event,'valor')">Valor</a>
                                </th>
                                <th>
                                    <i class="fa fa-fw fa-sort" v-bind:class="{ 
                                    'fa-sort-amount-asc': orderCol==='descricao' && orderInverse === 1, 
                                    'fa-sort-amount-desc': orderCol==='descricao' && orderInverse === -1,  
                                    }"></i>
                                    <a href="#" v-on:click="filterOrderBy($event,'descricao')">Descrição</a>
                                </th>
                            </thead>
                            <tbody>
                                <tr v-for="book in books | filterBy mySearch 'titulo' 'descricao' | orderBy orderCol orderInverse">
                                    <td>{{ book.id }}</td>
                                    <td>{{ book.titulo | capitalize }}</td>
                                    <td>{{ book.valor | currency 'R$ ' }}</td>
                                    <td>{{ book.descricao }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="text-center">
                        <ul class="pagination">
                            <li v-bind:class="{ 'disabled' : pagination.currentPage <= 0 }">
                                <a href="#" v-on:click="previous"><span>&laquo;</span></a>
                            </li>
                            <li v-for="page in pagination.list" v-bind:class="{ 'active' : pagination.currentPage===$index }">
                                <a href="#" v-on:click="pagePagination($event,$index)">{{ $index + 1 }}</a>
                            </li>                            
                            <li v-bind:class="{ 'disabled' : pagination.currentPage === pagination.totalPages }">
                                <a href="#" v-on:click="next"><span>&raquo;</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
        <script type="text/javascript" src="bower_components/vue-resource/dist/vue-resource.min.js"></script>
        <script type="text/javascript" src="app/assets/dist/js/scripts.min.js"></script>
    </body>
</html>